.row {
    display: flex;
    margin: 12px 0;
	flex-direction: column;
}

.label {
	display: flex;
	align-items: center;
	justify-content: center;
	
	margin-bottom: 10px;
}

.content {
    display: inline-block;
    flex-grow: 1;
}