.form {
}

.fieldsContainer 
{
	text-align: middle;
	display: flex;
	flex-direction: column;
	align-items: stretch;
	
    /*flex-grow: 1;*/
}

.radioBox {
    width: 40px;
}

.buttonsContainer {
    display: flex;
    padding: 0;
    box-sizing: content-box;
    flex-direction: row;
	justify-content: space-between;
}

.button {
	max-width: 120px;
    /*width: 80px;
    flex-grow: 1;*/
}