.basic {
    display: block;
    width: 100%;
    min-height: 32px;
    margin: 0;
    border: 0;
	
	border-radius: 20px;
	cursor: pointer;
	
	font-weight:bold;
}

.red {
    background-color: #d93434;
    color: white;
}

.red:hover {
    background-color: #fc3c3c;
}

.blue {
    background: #37a4e8;
	background: linear-gradient(to bottom, #37a4e8 0%,#3a8bc9 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#37a4e8', endColorstr='#3a8bc9',GradientType=0 );
    color: white;
}

.blue:hover {
    background-color: #3cb0fd;
}

.blue:disabled {
    background-color: #666666;
}

.gray {
    background-color: #666666;
    color: white;
}

.gray:hover {
    background-color: #9e9e9e
}

.button {
    display: inline-flex;
    user-select: none;
    background: none;
    border: 1px solid transparent;
    border-radius: 0.3em;
    cursor: pointer;
    font-weight: 500;
    line-height: 2.3em;
    height: 2.4em;
    margin-bottom: 0;
    overflow: hidden;
    padding: 0 1em;
    text-align: center;
    touch-action: manipulation;
    vertical-align: middle;
    white-space: nowrap;

    border: 1px solid #007aff;
    color: #007aff;
    border-radius: 5px;
    line-height: 27px;
    height: 29px;
}

.button:disabled {
    border-color: #7b7b7b;
    color: #7b7b7b;
}

.active {
    background: #007aff;
    color: #fff;
}

.segmented {
    display: flex;
    flex-direction: row;
}

.segmented .button {
    margin: 0;
}

.segmented .button:not(:first-child) {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    border-left: none;
}

.segmented .button:not(:last-child) {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}