.basic {
    display: block;
    width: 100%;
    min-height: 32px;
    margin: 0;
    border: 0;
	
	border-radius: 20px;
	cursor: pointer;
	
	font-weight:bold;
}

.red {
    background-color: #d93434;
    color: white;
}

.red:hover {
    background-color: #fc3c3c;
}

.blue {
    background: #37a4e8;
	background: linear-gradient(to bottom, #37a4e8 0%,#3a8bc9 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#37a4e8', endColorstr='#3a8bc9',GradientType=0 );
    color: white;
}

.blue:hover {
    background-color: #3cb0fd;
}

.blue:disabled {
    background-color: #666666;
}

.gray {
    background-color: #666666;
    color: white;
}

.gray:hover {
    background-color: #9e9e9e
}