.inputWrapper {
    padding: 0;
}

.text {
    display: block;
    width: 100%;
    height: 100%;
    padding: 4px 4px;
    border: 0;
    background-color: #dbdbdb;
    box-sizing: border-box;
}

.text:focus {
    background-color: #b5b5b5;
}

.textArea {
    display: flex;
    width: 100%;
    min-height: 140px;
    height: 100%;
    padding: 10px;
    border: 0;
    background-color: #dbdbdb;
    box-sizing: border-box;
    resize: none;
	
	border-radius: 7px;
	
	align-self: stretch;
}

.textArea:focus {
    background-color: #b5b5b5;
}